@using GoSport.Client.ViewModels.SportCenters;
@model SportCenterViewModel
@{
    ViewBag.Title = "Details";
}
<script src="~/Scripts/ImageSlider/jquery.bxslider.js"></script>
<hr />
<div class="container">
    <h1 class="col text-center"><a href="/SportCenter/Details/@Model.Id">@Model.Name</a></h1>
    <ul class="bxslider">
        @foreach (var img in Model.Images)
            {
            <li><img src="@img" height=300 width=300 class="img-rounded" /></li>
        }
    </ul>
    <div class="row col-md-offset-3">
        <div class="col-md-2">Exact Address: </div>
        <div class="col-md-4">@Model.ExactAddress</div>
    </div>
    <div class="row col-md-offset-3">
        <div class="col-md-2">City: </div>
        <div class="col-md-4">@Model.Address.City</div>
    </div>
    <div class="row col-md-offset-3">
        <div class="col-md-2">Neighbour: </div>
        <div class="col-md-4">@Model.Address.Neighborhood</div>
    </div>
    <div class="row col-md-offset-3">
        <div class="col-md-2">Description: </div>
        <div class="col-md-4">@Model.Description   </div>
    </div>
    <div class="row col-md-offset-3">
        <div class="col-md-2">Practiced sports: </div>
        @foreach (var item in Model.Categories)
            {
            <a href="\Home\Index\@item.Name" class="badge">@item.Name</a>
        }
    </div>
    <h2 class="row text-center">Rating</h2>
    <div class="row col-md-offset-3">
        <div class="col-md-2">Comfort: </div>
        <div class="col-md-2">@(Model.Rating != null ? Model.Rating.Comfort.ToString() : "Not rated yet...") </div>
    </div>
    <div class="row col-md-offset-3">
        <div class="col-md-2">Price: </div>
        <div class="col-md-2">@(Model.Rating != null ? Model.Rating.Price.ToString() : "Not rated yet...") </div>
    </div>
    <div class="row col-md-offset-3">
        <div class="col-md-2">Service: </div>
        <div class="col-md-2">@(Model.Rating != null ? Model.Rating.Service.ToString() : "Not rated yet...") </div>
    </div>
    <div class="row col-md-offset-3">
        <div class="col-md-2">Trainer/Trainers: </div>
        <div class="col-md-2">@(Model.Rating != null ? Model.Rating.Trainers.ToString() : "Not rated yet...") </div>
    </div>
    <br />
    <div class="row col-md-offset-3">
        <div class="col-md-2">Total: </div>
        <div class="col-md-2">@(Model.Rating != null ? Model.Rating.Total.ToString() : "Not rated yet...") </div>
        @if (User.Identity.IsAuthenticated)
            {
            <div class="starRate">
                <input type="button" class="btn-sm btn btn-primary" value="1" />
                <input type="button" class="btn-sm btn btn-primary" value="2" />
                <input type="button" class="btn-sm btn btn-primary" value="3" />
                <input type="button" class="btn-sm btn btn-primary" value="4" />
                <input type="button" class="btn-sm btn btn-primary" value="5" />
            </div>
        }
    </div>
    <h1 class="row text-center">Comments</h1>
    @if(Model.Comments.OrderByDescending(x => x.CreatedOn).ToList().Count() == 0)
    {
        <<div class="row text-center">No comments added yet...</div>
    }
    else
    {
        foreach (var comment in @Model.Comments.OrderByDescending(x => x.CreatedOn).ToList())
        {
            <div class="row col-md-offset-3">
                <div class="col-md-2">@comment.Author.Name:  </div>
                <div class="col-md-2">"@comment.Content"</div>
            </div>
            <div class="row col-md-offset-3">
                <div class="col-md-2">Date created:  </div>
                <i class="col-md-4">@comment.CreatedOn</i>
            </div>
        }
    }

    <br />

    <script src="~/Scripts/ImageSlider/jquery.bxslider.min.js"></script>
    <link href="~/Content/ImageSlider/jquery.bxslider.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('.bxslider').bxSlider(
                {
                    pagerCustom: '#bx-pager',
                    adaptiveHeight: true,
                    slideWidth: 800,
                    auto: true
                });
        });
    </script>
