@using GoSport.Client.ViewModels.SportCenters;
@model SportCenterViewModel
@{
    ViewBag.Title = "Details";
}
<script src="~/Scripts/ImageSlider/jquery.bxslider.js"></script>
<hr />
<div class="container">
    @{
        Html.RenderPartial("_SportCenterInfoPartial", Model);
    }
</div>
<h2 class="row text-center">Rating</h2>
<div class="row col-md-offset-3">
    <div class="col-md-2">Comfort: </div>
    <div class="col-md-2">@(Model.Rating != null ? Model.Rating.Comfort.ToString() : "Not rated yet...") </div>
</div>
<div class="row col-md-offset-3">
    <div class="col-md-2">Price: </div>
    <div class="col-md-2">@(Model.Rating != null ? Model.Rating.Price.ToString() : "Not rated yet...") </div>
</div>
<div class="row col-md-offset-3">
    <div class="col-md-2">Service: </div>
    <div class="col-md-2">@(Model.Rating != null ? Model.Rating.Service.ToString() : "Not rated yet...") </div>
</div>
<div class="row col-md-offset-3">
    <div class="col-md-2">Trainer/Trainers: </div>
    <div class="col-md-2">@(Model.Rating != null ? Model.Rating.Trainers.ToString() : "Not rated yet...") </div>
</div>
<br />
<div class="row col-md-offset-3">
    <div class="col-md-2">Total: </div>
    <div class="col-md-2">@(Model.Rating != null ? Model.Rating.Total.ToString() : "Not rated yet...") </div>
    @if (User.Identity.IsAuthenticated)
            {
        <div class="starRate">
            <button value="1 " style="cursor:pointer"><span class="glyphicon glyphicon-star"></span></button>
            <button value="2" style="cursor:pointer"><span class="glyphicon glyphicon-star"></span></button>
            <button value="3" style="cursor:pointer"><span class="glyphicon glyphicon-star"></span></button>
            <button value="4" style="cursor:pointer"><span class="glyphicon glyphicon-star"></span></button>
            <button value="1" style="cursor:pointer"><span class="glyphicon glyphicon-star"></span></button>
        </div>
    }
</div>
<h1 class="row text-center">Comments</h1>
@if (Model.Comments.OrderByDescending(x => x.CreatedOn).ToList().Count() == 0)
{
        <<div class="row text-center">No comments added yet...</div>
}
else
{
    foreach (var comment in @Model.Comments.OrderByDescending(x => x.CreatedOn).ToList())
    {
        <div class="row col-md-offset-3">
            <div class="col-md-2">@comment.Author.Name:  </div>
            <div class="col-md-2">"@comment.Content"</div>
        </div>
            <div class="row col-md-offset-3">
                <div class="col-md-2">Date created:  </div>
                <i class="col-md-4">@comment.CreatedOn</i>
            </div>
    }
}

<br />

<script src="~/Scripts/ImageSlider/jquery.bxslider.min.js"></script>
<link href="~/Content/ImageSlider/jquery.bxslider.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $('.bxslider').bxSlider(
            {
                pagerCustom: '#bx-pager',
                adaptiveHeight: true,
                slideWidth: 800,
                auto: true
            });
    });
</script>
