@using GoSport.Client.ViewModels.SportCenters;
@model IEnumerable<SportCenterViewModel>
@{
    ViewBag.Title = "Add Sport center";
}
@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/ImageSlider/jquery.bxslider.js"></script>
<div class="jumbotron">
    <h1>GO SPORT</h1>
    <p class="lead">The site where you can find where to practice your favourite sport!</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
@foreach (var center in Model)
{

    <hr />
    <div class="container">
        @{
            Html.RenderPartial("_SportCenterInfoPartial", center);
        }
        <div class="row col-md-offset-3">
            <div class="col-md-2">Rating: </div>
            <div class="col-md-2">@(center.Rating != null ? center.Rating.Total.ToString() : "Not rated yet...") </div>
        </div>
        <h1 class="row text-center">Last Comment</h1>
        @{ViewBag.CommentAuthor = @center.Comments.OrderByDescending(x => x.CreatedOn).FirstOrDefault();}
        @if (ViewBag.CommentAuthor != null)
        {
            <div class="row col-md-offset-3">
                <div class="col-md-2">@ViewBag.CommentAuthor.Author.Name:  </div>
                <div class="col-md-2">"@ViewBag.CommentAuthor.Content"</div>
            </div>
            <div class="row col-md-offset-3">
                <div class="col-md-2">Date created:  </div>
                <i class="col-md-4">@ViewBag.CommentAuthor.CreatedOn</i>
            </div>
        }
        <br />
        <div class="row col-md-offset-5">
            <a href="/SportCenter/Details/@center.Id" class="btn btn-primary text-center">Show More</a>
        </div>
    </div>
}
<hr />
<div class="row col-md-offset-5">
    @for (int i = 0; i < ViewBag.AllSportCentersCount / ViewBag.ItemsPerPage; i++)
    {
        <a class="btn btn-primary" href='@String.Format("/Home/Index/{0}",@i)'>@(i + 1)</a>
    }
</div>
<script src="~/Scripts/ImageSlider/jquery.bxslider.min.js"></script>
<link href="~/Content/ImageSlider/jquery.bxslider.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $('.bxslider').bxSlider(
            {
                pagerCustom: '#bx-pager',
                adaptiveHeight: true,
                slideWidth: 800,
                auto: true
            });
    });
</script>



