@using GoSport.Client.ViewModels.SportCenters
@model SportCenterViewModel
<div class="sport-center-info">
    <h1 class="col text-center"><a href="/SportCenter/Details/@Model.Id">@Model.Name</a></h1>
    <ul class="bxslider">
        @foreach (var img in Model.Images)
            {
            <li><img src="@img" height=300 width=300 class="img-rounded" /></li>
        }
    </ul>
    <div class="row col-md-offset-3">
        <div class="col-md-2">Exact Address: </div>
        <div class="col-md-4">@Model.ExactAddress</div>
    </div>
    <div class="row col-md-offset-3">
        <div class="col-md-2">City: </div>
        <div class="col-md-4">@Model.Address.City</div>
    </div>
    <div class="row col-md-offset-3">
        <div class="col-md-2">Neighbour: </div>
        <div class="col-md-4">@Model.Address.Neighborhood</div>
    </div>
    <div class="row col-md-offset-3">
        <div class="col-md-2">Description: </div>
        <div class="col-md-4">@Model.Description   </div>
    </div>
    <div class="row col-md-offset-3">
        <div class="col-md-2">Practiced sports: </div>
        @foreach (var item in Model.Categories)
            {
            <a href="\Home\Index\@item.Name" class="badge">@item.Name</a>
        }
    </div>
</div>
